@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply h-full bg-gradient-to-b from-gray-900 via-gray-950 to-black text-gray-100;
  }

  #root {
    @apply h-full;
  }
}

.modern-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #B67C3C #23272a;
}

.modern-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: #23272a;
  border-radius: 8px;
}

.modern-scrollbar::-webkit-scrollbar-thumb {
  background: #B67C3C;
  border-radius: 8px;
}

.explorer-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #B67C3C #181622;
}

.explorer-scrollbar::-webkit-scrollbar {
  width: 10px;
  background: #181622;
  border-radius: 8px;
}

.explorer-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #B67C3C 60%, #fcedbe 100%);
  border-radius: 8px;
  border: 2px solid #181622;
}

.explorer-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #fcedbe 60%, #B67C3C 100%);
}

.explorer-scrollbar::-webkit-scrollbar-corner {
  background: #181622;
} 